
$primary   : #1EEFA4;
$secondary : #337359;
$accent    : #7E4FED;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #1EEFA4;
$negative  : #C10015;
$info      : #64748B;
$warning   : #f2ab3d;